{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>Contact Email</th>
                <th>Posted</th>
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
                <tr>
                    <td>{{ listing.job }}</td>
                    <td>{{ listing.description }}</td>
                    <td>{{ listing.address }}</td>
                    <td>{{ listing.transacted }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
