{% extends "layout.html" %}

{% block title %}
    Post a Job
{% endblock %}
{% block main %}
    <h1> Post a Job</h1><br>
    <form action="/post" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="job" placeholder="Job Title" type="text">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" placeholder="Job Description" rows="2" ></textarea>
         </div>
         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email Contact:" type="email">
        </div>
        <button class="btn btn-primary" type="submit">Post a Job</button>
    </form>
{% endblock %}